@import '../../colorpallet.scss';


.category-box-container {
    height: 120px;
    width: 120px;
    mask-image: linear-gradient (black, transparent);
    position: relative;
    display: flex;
    justify-content: center;
    margin: 25px 10px;
    transform: rotate(90deg);

    .bgimg {
        height: 120px;
        width: 120px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10px;
        cursor: pointer;
    }

    .category-name {
        position: absolute;
        bottom: 5px;
        color: $white;
    }
}